<div class="tab-navigation">
  <button class="tab-button active" data-tab="overviewTab">
    <i class="fas fa-home"></i> Visão Geral
  </button>
  <button class="tab-button" data-tab="walletTab">
    <i class="fas fa-wallet"></i> Wallet
  </button>
  <button class="tab-button" data-tab="blockchainsTab">
    <i class="fas fa-link"></i> Blockchains
  </button>
  <button class="tab-button" data-tab="infraAvzTab">
    <i class="fas fa-server"></i> Infra AVZ
  </button>
  <button class="tab-button" data-tab="securityTab">
    <i class="fas fa-shield-alt"></i> Segurança
  </button>
  <button class="tab-button" data-tab="agendaTab">
    <i class="fas fa-calendar"></i> Agenda
  </button>
  <button class="tab-button" data-tab="communicationTab">
    <i class="fas fa-comments"></i> Comunicação
  </button>
</div>
